*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/*Header*/

div .input {
    background-color: white;
    border: solid 1px black;
    width: 40%;
}

div .submit{
    background-color: #FFF;
    border: 1px solid #000;
    width: 10%;
}

.main-header-top-bar .logo {
    width: 50%
}

.main-header {
    width: 100%;
    margin: 0;
    padding: 5px 5px;
    background-color: #EAC926;
    
}

.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
    width: 90%;
}


form.search-bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    width: 50%;
    height: 10vh;
}

.search-bar input {
    border: none;
    outline: none;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 12px;
}


h2 {
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}

p.precios { 
    font-size: 18px;
}

p.descuentos {
    font-size: 16px;
    color: green;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}


.hamburguer-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}

.main-navbar li .fa-credit-card {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}




/* main - home */

main {
    width: 90%;
    box-sizing: border-box;
    /* display: block; */
}

section.banner img {
    width: 100%;
    display: block;
}


.precios {
    font-size: 18px;
}

.descuentos,
.descripciones{
    font-size: 16px;
    font-weight: normal;
}

h4,
.descripciones{
    color: #666;
    font-weight: bold;
}

.descripciones {
    transition: all 2s;
    margin-top: 20px;
}

main{
    width: 90%;
    margin: 10px 10px;
    
}

main section article {
    background-color: #fff;    
    margin: 10px 0px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuentos{
    color: #39b54a;
}

main section article i {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: -20px;
}
main section article i:hover {
    transform: rotate(360deg);
    transition: transform 2s;
}
main section h4{
    margin: 20px 0px;
}

article div.producto-venta {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 5px;
    position: relative;
}
.caja-venta {
    display: flex;
}
.caja-venta .precios {
    width: 40%;
}
.caja-venta .descuentos {
    width: 60%;
}

/* footer */

footer {
    text-align: center;
    background-color: white;
    margin: 10px 10px;
    width: 95%;
    padding: 10px;
}

footer p {
    font-size: 14px;
    margin-bottom: 30px;
}

footer h4 {
    margin-bottom: 15px;
}


.fa-credit-card {
    font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}

.fa-gift {
    font-size: 2em;
    margin-bottom: 10px;  
    color: blue;
}

.fa-user-shield {
    font-size: 2em;
    margin-bottom: 10px;
    color: blue;
}

.copyright {
    text-align: left;
}


/*Formulario*/


.createform {
    padding: 20px 15px;
    
}

.controlDelFormulario {
    margin-bottom: 15px;
}

.controlDelFormulario label {
    margin-bottom: 15px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}

.boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}




/* Media queries */



@media (min-width: 361px) {
    
    div .productos { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content:  space-around
    }

    .productos article {
        width: 45%;
    }

    .copy-header {
        text-align: center;
    }
    .hamburguer-button {
        display: none;
    }
    
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .banner img{
        display: none;
    }

    main {
        width: 95%;
    }
    main section .ultima-visita {
        width: 90%;
    }
                    
    main section article img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        color: 100, 100, 100 
    }

    .productos { 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-around;
    }

    main section article .caja-venta {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    p.descuentos {
        text-align: right;
    }

    main section article .descripciones{
            display: none;
        }
    }

    main section article:hover .descripciones {
        opacity: 1;
    }
    main section article:hover {
        box-shadow: 0px 0px 25px rgb(100, 100, 100);
    }





    

@media (min-width: 769px){ 

    .main-header-top-bar .logo { 
        width: 250px; 
    } 
    .main-header-top-bar, .main-navbar {
        max-width: 1200px; 
        margin: auto;
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400px;
        margin: 25px;
    }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }

    main {
        width: 98%;
    }
    main section .ultima-visita {
        width: 100%;
    }

    main section article {
        box-shadow: 0px 0px 10px;
        color: 100, 100, 100 
    }

    div .productos { 
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around
    }

    main section .productos{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        align-items: stretch;
    }

    main section article img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        color: 100, 100, 100 
    }

    .productos article {
        width: 22%;
    }

    .main-header-top-bar {
        align-items: center;
    }

    main section article .caja-venta {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    main section article .descripciones{
        display: flex;
    }

    main section article:hover .descripciones {
    opacity: 1;
    }

    main section article:hover {
    box-shadow: 0px 0px 25px rgb(100, 100, 100);
    }

    footer {
        width: 98%;
        padding: 5px;
    }
}
